input.span2.player:nth-child(1) {
	-webkit-box-shadow: 0 0 2px #4572A7 inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #4572A7 inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #4572A7 inset, 0 1px 0 rgba(0,0,0,0.05);
	border: 1px solid #4572A7;
	border-bottom: 5px solid #4572A7;
	margin-left:0;
}
input.span2.player:nth-child(2) {
	-webkit-box-shadow: 0 0 2px #AA4643 inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #AA4643 inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #AA4643 inset, 0 1px 0 rgba(0,0,0,0.05);
	border: 1px solid #AA4643;
	border-bottom: 5px solid #AA4643;
}

input.span2.player:nth-child(3) {
	-webkit-box-shadow: 0 0 2px #89A54E inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #89A54E inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #89A54E inset, 0 1px 0 rgba(0,0,0,0.05);
	border: 1px solid #89A54E;
	border-bottom: 5px solid #89A54E;
}

input.span2.player:nth-child(4) {
  -webkit-box-shadow: 0 0 2px #DB843D inset, 0 1px 0 rgba(0,0,0,0.05);
  -moz-box-shadow   : 0 0 2px #DB843D inset, 0 1px 0 rgba(0,0,0,0.05);
  box-shadow        : 0 0 2px #DB843D inset, 0 1px 0 rgba(0,0,0,0.05);
  border: 1px solid #DB843D;
  border-bottom: 5px solid #DB843D;
}

input.span2.player:nth-child(5) {
	-webkit-box-shadow: 0 0 2px #80699B inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #80699B inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #80699B inset, 0 1px 0 rgba(0,0,0,0.05);
	border: 1px solid #80699B;
	border-bottom: 5px solid #80699B;
}

input.span2.player:nth-child(6) {
	-webkit-box-shadow: 0 0 2px #3D96AE inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #3D96AE inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #3D96AE inset, 0 1px 0 rgba(0,0,0,0.05);
	border: 1px solid #3D96AE;
	border-bottom: 5px solid #3D96AE;
}
